{
    "timeout": 25,
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true,
        "Increment": {
            "ignore": [
                "Realodix\\ReadTime\\ReadTime"
            ]
        },
        "IncrementInteger": {
            "ignore": [
                "Realodix\\ReadTime\\ReadTime::__construct"
            ]
        },
        "DecrementInteger": {
            "ignore": [
                "Realodix\\ReadTime\\ReadTime::__construct"
            ]
        }
    },
    "logs": {
        "text": ".logs/infection/infection.log.diff",
        "summary": ".logs/infection/summary.log",
        "perMutator": ".logs/infection/per-mutator.md"
    }
}
