<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         verbose="true"
>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true"
                   processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Realodix Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="2048M" />
    </php>
</phpunit>
